


@media (max-width: 428px) {
  .advantages {
    &__item {
      width: 200px;
    }
  }
}


@media (max-width: 991px) {
  .advantages {
    &__item {
      width: 250px;
    }
  }
}

@media (max-width: 940px) {
  .catalog {
    &__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}


@media (max-width: 626px) {
  .catalog {
    &__content {
      grid-template-columns: repeat(1, 1fr);
    }
  }

}

@media (max-width: 767px) {
  .advantages {
    &__item {
      width: 200px;
    }
  }
}


@media (max-width: 502px) {
  .consultation {
    &__title {
      font-size: 30px;
    }
  }
}

@media (max-width: 419px) {
  .consultation {
    &__title {
      font-size: 25px;
    }

    &__description {
      font-size: 15px;
    }
  }
}


@media (max-width: 575px) {
  .advantages {
    &__wrapper {

      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-top: 50px;
      margin-right: 0;
      width: 270px;

      &:nth-child(1) {
        margin-top: 0;
      }
    }

    &__title {
      margin-top: 10px;
    }
  }
}



