.sign_in {
  padding: 200px 0 100px;
  margin: 0 auto;
}

.login {
  background-color: $gray-color;
  padding: 20px 25px 20px 25px;
  min-height: 300px;
  width: 350px;
  margin: 0 auto;
  border: 2px solid #e8e8e8;
  border-radius: 10px;

  &__link {
    text-decoration: none;
    color: $accent-color;
    font-style: italic;
  }
}
